<div id="wrapper">
  <%#DISPLAY CURRENT DAY, MONTH & YEAR</div>%>
  <p id="dates"> 
    <span class="month"> </span>
    <span class="date"></span>
    <span class="year"> </span>
  </p>

  <%#DISPLAYS CURRENT DAY%>
  <p class="day"> </p>
  
  <%#DISPLAYS CURRENT TIME%>
  <p class="time"> 
    <span class="hour"> </span>
    <span class="minute"></span>
    <span class ="second"></span>
  </p>
  
  <p class="greetings"> </p>
  <p class ="how_are_you"> </p>
  <p class ="quote">"Success is something you attract by the person you become." </p>
  <%#DISPLAY CURRENT SECONDS%>

  
</div> <%#END WRAPPER%>