<div id="wrapper">
  <%#DISPLAY CURRENT DAY, MONTH & YEAR</div>%>
  <p id="dates"> 
    <span class="month"> </span>
    <span class="date"></span>
    <span class="year"> </span>
  </p>

  <%#DISPLAYS CURRENT DAY%>
  <p class="day"> </p>
  
  <%#DISPLAYS CURRENT TIME%>
  <p> 
    <span class="hour"> </span>
    <span class="minute"></span><br>
    <span class="and"> &</span>
  </p>
  
  <%#DISPLAY CURRENT SECONDS%>
  <p class="second"> </p>
  
</div> <%#END WRAPPER%>