<div id="wrapper">
   <p id="dates"> 
      <span class="month"> </span>
      <span class="date"></span>
      <span class="year"> </span>
    </p>
   <p class="day"> </p>
    <p> 
      <span class="hour"> </span>
      <span class="minute"></span>
      <span class="and"> &</span>
    </p>
    <p class="second"> </p>
</div>