// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//     border: 1px solid gray;
// }

// SET FONT FAMILY FOR ALL
body {
  font-family: Impact, Haettenschweiler, 'Arial ', sans-serif;
  background-image: asset-url("nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow-y: hidden;

}

html {
  height: 100%;
}

//FOOTER STYLING
.site_footer {
  font-family: arial;
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

// FOR DATE
.day {
  color:white;
  text-align: left;
  margin: 0px;
  font-size: 6em;
  margin-top: -50px;
  padding-top: 1px;
}

// HOUR STYING
.time {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 10em;
}

// DATE STYLING
#dates {
  color: wheat;
  font-size: 2em;
  margin-top: 0px;
  text-align: left;
}

// SET THE FOOTER @ THE BOTTOM
#wrapper {
  min-height: 100%;
  position: relative;
}

// FOR GREETINGS
.greetings {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 4em;
  margin-top: -150px;
}

// FOR QUESTION
.how_are_you {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-top: 0px;
}

// FOR QUOTE
.quote {
  font-family: Arial;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 180px;
}