// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// SET FONT FAMILY FOR ALL
body {
  font-family: Impact, Haettenschweiler, 'Arial ', sans-serif;
  background-image: url("nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow-y: hidden;
}

html {
  height: 100%;
}

//FOOTER STYLING
.site_footer {
  font-family: arial;
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

// DAY STYLING
.day {
  color:white;
  text-align: left;
  margin: 0px;
  font-size: 10em;
}

// HOUR STYING
.hour {
  color: wheat;
  text-align: left;
  font-size: 2em;
}

// MINUTES STYLING
.minute {
  color: wheat;
  text-align: left;
  font-size: 2em;
}

// SECONDS STYLING
.second {
  color: wheat;
  text-align: left;
  font-size: 2em;
  margin-top: 0px;
}

// & STYLING
.and {
  color: #d6d6d6;
  font-size: 7em;
  margin-top: 0px;
}

//DATE STYLING
#dates {
  color: wheat;
  font-size: 2em;
  margin-top: 0px;
  text-align: left;
}

//SET THE FOOTER @ THE BOTTOM
#wrapper {
  min-height: 100%;
  position: relative;
}
